//- Все примеси в этом файле должны начинаться c имени блока (slider-comparison__

mixin slider-comparison(props)

  .slider-comparison&attributes(attributes)
    .slider-comparison___inner
      +slider-controls-comparison(class='slider-comparison__desktop-controls')
      .swiper-container.slider-comparison__slider
        .swiper-wrapper.slider-comparison__slider-wrapper
          .swiper-slide.slider-comparison__slide
            +card-hit-close({img: 'img/laptop1.jpg', imgLg: 'img/laptop1-lg.jpg', title: 'Игровой ноутбук Acer Nitro AN515-52-51K6 (NH.Q3MER.019)', stars: '3', sale: '18 850', price: '14 999 ₽', priceSale: '18%'})
          .swiper-slide.slider-comparison__slide
            +card-hit-close({img: 'img/laptop1.jpg', imgLg: 'img/laptop1-lg.jpg', title: 'Игровой ноутбук Acer Nitro AN515-52-51K6 (NH.Q3MER.019)', stars: '3', sale: '18 850', price: '14 999 ₽', priceSale: '18%'})
          .swiper-slide.slider-comparison__slide
            +card-hit-close({img: 'img/laptop1.jpg', imgLg: 'img/laptop1-lg.jpg', title: 'Игровой ноутбук Acer Nitro AN515-52-51K6 (NH.Q3MER.019)', stars: '3', sale: '18 850', price: '14 999 ₽', priceSale: '18%'})
          .swiper-slide.slider-comparison__slide.slider-comparison__slide-add
            a(href='#').slider-comparison__slide-add-card
              <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><defs><clipPath id="vlwia"><path fill="#fff" d="M32 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32C14.327 64 0 49.673 0 32 0 14.327 14.327 0 32 0z"/></clipPath><clipPath id="vlwib"><path fill="#fff" d="M23 31h8v-8a1 1 0 0 1 2 0v8h8a1 1 0 0 1 0 2h-8v8a1 1 0 1 1-2 0v-8h-8a1 1 0 1 1 0-2z"/></clipPath></defs><g><g><path fill="none" stroke="#b3b3b3" stroke-miterlimit="50" stroke-width="4" d="M32 0c17.673 0 32 14.327 32 32 0 17.673-14.327 32-32 32C14.327 64 0 49.673 0 32 0 14.327 14.327 0 32 0z" clip-path="url(&quot;#vlwia&quot;)"/></g><g><path fill="none" stroke="#b3b3b3" stroke-miterlimit="50" stroke-width="4" d="M23 31h8v-8a1 1 0 0 1 2 0v8h8a1 1 0 0 1 0 2h-8v8a1 1 0 1 1-2 0v-8h-8a1 1 0 1 1 0-2z" clip-path="url(&quot;#vlwib&quot;)"/></g></g></svg>
              .slider-comparison__slide-add-text Добавить еще товары<br> из этой категори
        +slider-controls-comparison(class='slider-comparison__mobile-controls')


//- +card-hit-close({img: 'img/laptop1.jpg', img-Lg: 'img/laptop1-lg.jpg', title: 'Игровой ноутбук Acer Nitro AN515-52-51K6 (NH.Q3MER.019)', stars: '3', sale: '18 850', price: '14 999 ₽', priceSale: '18%'})