-
  var mainMenu = [
    {
      "id": "0",
      "name": "Компьютеры",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Комплектующие ",
      "url": "/pages",
      "childs": [
        {
          "id": "10-0",
          "name": "Комплектующие 1",
          "url": "pages/about"
        },
        {
          "id": "10-10",
          "name": "Комплектующие 2",
          "url": "pages/services",
        },
        {
          "id": "10-20",
          "name": "Комплектующие 3",
          "url": "pages/some"
        },
      ]
    },
    {
      "id": "20",
      "name": "Мониторы",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
    {
      "id": "30",
      "name": "Оргтехника, расходка",
      "url": "https://nicothin.pro/contact"
    },
    {
      "id": "40",
      "name": "Периферия",
      "url": "https://nicothin.pro/contact"
    },
    {
      "id": "50",
      "name": "Акустика",
      "url": "https://nicothin.pro/contact"
    },
    {
      "id": "60",
      "name": "Сетевое оборудование",
      "url": "https://nicothin.pro/contact"
    },
    {
      "id": "70",
      "name": "Конфигуратор ПК",
      "url": "https://nicothin.pro/contact"
    },
  ];
