//- Все примеси в этом файле должны начинаться c имени блока (slider-images)

mixin slider-images(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +slider-images('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-images--' + modsList[i].trim();
      }
    }

  .slider-images(class=allMods)&attributes(attributes)
    .slider-images__inner
      .swiper-container.slider-images__slider
        .swiper-wrapper.slider-images__slider-wrapper
          .swiper-slide.slider-images__slide
            img(src='img/slide-images1.jpg' alt='promo')
          .swiper-slide.slider-images__slide
            img(src='img/slide-images2.jpg' alt='promo')
          .swiper-slide.slider-images__slide
            img(src='img/slide-images1.jpg' alt='promo')  
      .swiper-pagination.slider-images__pagination
