// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* stylelint-disable */
// @font-face {
//   font-family: 'FONTNAME';
//   src: url('../fonts/FONTNAME.woff2') format('woff2'),
//        url('../fonts/FONTNAME.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
/* stylelint-enable */

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &__index-content {

    &-promo {
      @include desktop {
        margin-top: 20px;
      }
    }

    &-slider-images {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    &-discount-items {
      margin-top: 30px;

      @include desktop {
        margin-top: 40px;
      }
    }
  }

  &__list-content {

    @include desktop {
      background-color: #f7f7f7;
    }

    &-wrapper {
      @include desktop {
        @include container;
      }
    }

    &-row {
      @include desktop {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
      }
    }

    &-breadcrumbs {
      @include container;
      display: none;

      @include desktop {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 30px;
      }
    }

    &-widget-sale {
      margin-top: 20px;
      @include desktop {
        margin-top: 30px;
      }
    }

    &-items {
      // display: flex;
      // flex-direction: column;
      // align-items: center;

      @include tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-right: 20px;
        padding-left: 20px;
      }

      @include desktop {
        display: block;
        margin-left: 20px;
        padding: 0;
      }
    }
    
    &-item {
      @include desktop {
        margin-bottom: 20px;
        width: 878px;
      }
    }

    &-btn {
      margin-top: 20px;
      width: 280px;
      height: 64px;

      @include tablet {
        width: 100%;
      }

      @include desktop {
        width: 878px;
      }

      &-wrapper {
        display: flex;
        justify-content: center;
        background-color: #f7f7f7;

        @include tablet {
          width: 100%;
        }

        @include desktop {
          justify-content: flex-end;
        }
      }
    }

    &-pagination {
      margin: 0;
      background-color: transparent;

      &-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 40px; 
        background-color: #f7f7f7;

        @include desktop {
          width: 878px;
          justify-content: flex-end;
        }
      }
    }

    &-text {
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: #f7f7f7;

      @include desktop {
        display: flex;
        justify-content: flex-end;
      }

      &-wrapper {
        padding-right: 20px;
        padding-left: 20px;
        @include desktop {
          padding-right: 0;
          padding-left: 0;
          width: 878px;
        }
      }

      & h4 {
        margin-top: 0;
        margin-bottom: 20px;  
        font-size: 18px;
        font-weight: 700;
      }

      & p {
        line-height: 24px;
        color: $gray-dark;
      }
    }
  }

  &__card-product {

    @include desktop {
      background-color: #f7f7f7;
    }

    &-wrapper {
      @include container;
    }

    &-breadcrumbs {
      display: none;

      @include tablet {
        display: block;
        margin-top: 0;
        margin-bottom: 30px;  
        padding-top: 30px;
      }
    }

    &-popular-complect-static {
      display: none;

      @include desktop {
        display: block;
        margin-top: 50px;
        padding-bottom: 70px;
      } 
    }

    &-tabs {
      display: none;

      @include desktop {
        display: block;
      }
    }

    &-accordion{

      @include desktop {
        display: none;
      }
    }
  }

  &__list-table {

    &-row {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
      }

      @include desktop-sm {
        justify-content: space-between;
      }

      @include desktop {
        margin-top: 0;
      }
    }

    &-item {
      margin-bottom: 20px;

      @include desktop {
        & .card-hit {
          border: none;
        }
      }
      
      &:last-child {
        margin-bottom: 0;
      }

      & .card-hit__footer {
        display: none;
      }
    }
  }

  &__card-offer {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 60px;

    @include desktop {
      padding-top: 4px;
      background-color: #f7f7f7;
    }

    &-container {

      @include desktop {
        @include container; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
      } 
    }

    &-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      background-color: #fff;

      @include desktop {
        padding-right: 0;
        padding-left: 0;
        background-color: #f7f7f7;
      }
    }

    &-wrapper-right {
      @include desktop {
        padding-bottom: 40px;
        width: 420px;
        background-color: #fff;
      }
    }
  
    &-basket {
      background-color: #fff;

      @include desktop {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 740px;
      }

      &-title {
        margin-top: 0;
        margin-bottom: 29px;
        font-size: 24px;

        @include desktop {
          padding-top: 40px;
          font-size: 30px;
        }
      }

      &-promo {
        width: 100%;
        background-color: #f7f7f7;

        @include tablet {
          padding-right: 20px;
          padding-left: 20px;
          background-color: #fff;
        }
        
        @include desktop {
          width: 740px;
        }

        &-wrapper {
          padding: 30px 20px;

          @include tablet {
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-right: 0;
            padding-left: 0;
            border-top: 1px solid #e6e6e6;
          }
        }

        &-row {
          display: flex;
          justify-content: space-between;

          @include tablet {
            justify-content: flex-start;
            align-items: center;
          }
        }

        &-input {
          margin-right: 10px;
          margin-bottom: 0;
          width: 100%;

          @include tablet {
            width: 240px;
          }

          & input {
            width: 100%;
            min-width: 170px;
            height: 50px;

            @include tablet {
              width: 240px;
            }

            &::-webkit-input-placeholder {
              color: $gray-darkest;
            }

            &::-moz-placeholder {
              color: $gray-darkest;
            }

            &:-ms-input-placeholder {
              color: $gray-darkest;
            }

            &:-moz-placeholder {
              color: $gray-darkest;
            }
          }
        }

        &-btn {
          padding: 0;
          // width: 30%;
          min-width: 100px;
          height: 50px;
          font-size: 14px;
          font-weight: 700; 
          color: $gray-darkest;

          @include tablet {
            width: 140px;
          }
        }

        &-text {
          position: relative;
          margin-top: 20px;
          padding-left: 20px;
          width: 100%;
          font-size: 12px;
          font-weight: 300;
          color: $gray-dark;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 9px;
            background-image: url('../img/check-mark.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        &-final-price {
          display: none;

          @include tablet {
            display: block;
            margin-left: auto;
            font-size: 24px;
            font-weight: 700; 
          }
        }
      }
    }

    &-form {
      padding-top: 30px;
      padding-right: 20px;
      padding-left: 20px;

      &-title {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 30px;
      }

      &-fieldset-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #e6e6e6;
      }

      &-necessarily {
        margin-top: 20px;
        font-size: 12px;
        font-weight: 300;
        color: $gray-dark;
      }

      &-file {
        margin-top: 15px;
        margin-left: 25px;
      }

      &-subtext {
        margin-left: 25px;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: $gray-dark;
      }

      &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #f0f0f0;

        &-wrapper {
          padding-right: 20px;
          padding-left: 20px;
        }
      }

      &-item {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;

        &-text {
          font-weight: 300;

          &-bold {
            font-weight: 700;
          }
        }
      }
    }

    &-agreement {
      display: flex;
      padding: 30px 20px;

      &-text {
        margin-left: 5px;
        font-size: 12px;
        line-height: 18px;
      }

      &-link {
        color: $color-secondory;
      }
    }

    &-btn {
      width: 100%;
      height: 54px;
      font-weight: 700;

      &-wrapper {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }

  &__comparison {

    &-wrapper {
      background-color: #f7f7f7;
    }

    &-breadcrumbs {
      display: none;

      &-wrapper {
        @include container;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @include desktop {
        display: block;
        margin: 0;
      }
    }

    &-top-line {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #f7f7f7;

      @include desktop {
        display: none;
      }

      &-wrapper {
        @include container;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-comparison {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--active {

          & svg {}
        }

        & span {
          margin-top: 3px;
          margin-left: 13px;
          font-weight: 300;
          line-height: 14px;
          color: #212121;
        }
      }

      &-btn {
        width: 80px;
        height: 30px;
        font-size: 12px;
        font-weight: 300;
      }
    }

    &-title {
      margin: 0;
      font-size: 24px;

      @include desktop {
        font-size: 30px;
      }
    }

    &-block {
      background-color: #f7f7f7;

      &-wrapper {
        @include container;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
        background-color: #fff;

        @include desktop {
          padding: 40px;
          overflow: inherit;
        }
      }

      &-header {
        margin-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-close {
          line-height: 24px;

          @include desktop {
            margin-right: 156px;
          }

          &-btn { 
            padding: 0;
            border: none;
            background-color: transparent;
            vertical-align: middle;

            & svg {
              fill: $gray-dark;
            }
          }

          &-link {
            margin-left: 11px;
            font-size: 14px;
            font-weight: 300;
            color: $gray-darkest;
            text-decoration: none;
          }
        }
      }

      &-controls {
        margin-top: 30px;
      }
    }

    &-accordion-table {
      margin-top: 10px;
      background-color: #fff;

      @include desktop {
        margin-top: 50px;
      }
    }
  }

  &__contacts {

    &-wrapper {
      @include desktop {
        background-color: #f7f7f7;
      }
    }

    &-container {
      @include container;
      position: relative;
    }

    &-inner {
      padding-top: 24px;
      padding-bottom: 290px;
      background-color: #fff;

      @include desktop {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &-breadcrumbs {
      display: none;
      margin: 0;  
      padding-top: 30px;
      padding-bottom: 30px;

      @include desktop {
        display: block;
      }
      
      &-wrapper {
        @include container;
      }
    }

    &-sidebar {
      padding-bottom: 30px;

      @include desktop {
        padding-top: 40px;
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 0;
        width: 450px;
        border-right: 1px solid #e6e6e6;
      }

      &-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;  
      }

      &-block {
        margin-top: 30px;
        font-weight: 300;

        &-head {
          margin-bottom: 30px;
          font-size: 18px;
          font-weight: 700;
        }

        &-text {
          line-height: 24px;
        }

        &-phone {
          font-size: 18px;
          font-weight: 700;
          text-decoration: none;
          color: $gray-darkest;
        }

        &-mail {
          color: $color-secondory;
        }

        &-row {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 10px;

          &-head  {
            min-width: 70px;
            font-weight: 700;
            line-height: 24px;
          }

          &-text {
            margin-left: 20px;
            line-height: 24px;
          }
        }

        &-text-bold {
          font-weight: 700;
          line-height: 24px;  
        }

        &-list {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        &-item {
          line-height: 24px;
        }
      }
    }

    &-main {
      padding-top: 30px;
      border-top: 1px solid #e6e6e6;

      @include desktop {
        padding-top: 40px;
        padding-bottom: 100px;
        padding-right: 50px;
        padding-left: 50px;
        width: 730px;
        border-top: none;
      }

      &-title {
        font-size: 30px;
        font-weight: 700;
      }

      &-subtitle {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 700;
      }

      &-text {
        margin-top: 30px;
        line-height: 24px;
      }

      &-map {
        position: absolute;
        bottom: 0;
        left: 0;

        @include desktop {
          position: inherit;
          margin-top: 40px;
        }
      }
    }
  }

  &__configurator {

    &-wrapper {
      background-color: #f7f7f7;

      @include desktop {
        padding-bottom: 100px;
      }
    }

    &-container {
      @include desktop {
        @include container;
      }
    }

    &-inner {
      @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: flex-start;
        padding-top: 30px;
      }
    }

    &-main {
      background-color: #fff;

      @include desktop {
        width: 880px;
      }
    }

    &-sidebar {
      background-color: #fff;

      @include desktop {
        width: 280px;
      }
      &-top-block {
        margin-bottom: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f7f7f7;
        text-align: center;

        @include desktop {
          margin-bottom: 0;
          background-color: #fff;
        }

        &-title {
          margin-bottom: 25px;
          font-size: 18px;
          font-weight: 700;
        }

        &-price {
          margin-bottom: 25px;
          font-size: 30px;
          font-weight: 700;
        }

        &-btn {
          margin-bottom: 10px;
          width: 220px;
          height: 54px;
          font-weight: 700;

          @include tablet {
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
          }

          @include desktop {
            margin-right: 0;
          }

          &-transparent {
            font-weight: 300;
            color: #999999;
          }

          &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }

      &-list {
        margin-top: 0;
        margin-bottom: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        list-style: none;
        border-bottom: 1px solid #e6e6e6;

        @include desktop {
          margin-bottom: 30px;
        }

        &-link {
          font-size: 12px;
          text-decoration: none;
          line-height: 48px;
          color: $black;

          & svg {
            margin-right: 13px;
            vertical-align: text-bottom;
          }
        }
      }

      &-links {
        margin-bottom: 60px;
        padding-right: 20px;
        padding-left: 20px; 
        font-size: 12px;
        line-height: 24px;

        &-title {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 700;
        }
      }

      &-link {
        margin-right: 10px;
        text-decoration: none;
        color: $gray-darkest;
      }

      &-bottom-block {
        padding-top: 30px;
        padding-bottom: 60px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: #f7f7f7;

        @include desktop {
          display: none;
        }

        &-title {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 700;
        }

        &-text {
          margin-bottom: 25px;
          font-size: 12px;
          line-height: 24px;
          color: $gray-dark;
        }

        &-link {
          font-size: 12px;
          color: $color-secondory;
        }
      }
    }

    &-desktop-text {
      @include container;
      display: none;

      @include desktop {
        display: block;
        margin-top: 60px;
      }

      &-title {
        margin-bottom: 35px;
        font-size: 18px;
        font-weight: 700;
      }

      & p {
        margin-top: 14px;
        margin-bottom: 0;
        line-height: 24px;
        font-weight: 300;
        color: $gray-dark;
      }
    }
  }

  &__catalog {
    @include container;

    &-wrapper {

      @include desktop {
        padding-bottom: 100px;  
        background-color: #f7f7f7;
      }
    }

    &-breadcrumbs {
      display: none;

      &-wrapper {

        @include desktop {
          @include container;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }

    &-container {
      @include container;
    }

    &-inner {
      background-color: #fff;

      @include desktop {
        padding-top: 40px;
        padding-bottom: 100px;
        padding-left: 40px;
      }
    }

    &-title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 30px;

      @include desktop {
        margin: 0;
      }
    }

    &-lists {
      @include tablet {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;

      &-wrapper {
        margin-top: 40px;

        @include tablet {
          width: 33.3333%;
        }

        @include desktop {
          margin-top: 50px;
          width: 25%;
        }
      }

      &-title {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
      }

      &-link {
        text-decoration: none;
        line-height: 30px;
        color: $gray-darkest;
      }
    }
  }

  &__delivery {
    
    &-wrapper {
      @include desktop {
        background-color: #f7f7f7;
      }
    }

    &-breadcrumbs {
      display: none;

      &-wrapper {

        @include desktop {
          @include container;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }

    &-container {
      @include container;
    }

    &-inner {
      background-color: #fff;

      @include desktop {
        padding-left: 40px;
      }
    }

    &-section {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #e6e6e6;

      @include desktop {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      &-title {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 18px;  
        font-weight: 700;
        line-height: 24px;
      }
    }

    &-title {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 30px;

      &-color {
        margin-top: 30px;
        // margin-bottom: 30px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $color-secondory;
      }
    }

    &-text {
      // margin-top: 25px;
      margin-bottom: 0;
      line-height: 24px;
      
      &-bold {
        font-weight: 700;
        line-height: 24px;
      }

      &-color {
        font-weight: 700;
        line-height: 24px;
        color: $color-secondory;
      }
    }

    &-list {
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 0;
      list-style: none;
    }

    &-item {
      position: relative;
      margin-bottom: 30px;
      padding-left: 20px;
      line-height: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-secondory;
      }
    }

    &-link {
      text-decoration: none;
      color: $color-secondory;

      &-sm {
        text-decoration: none;
        color: $color-secondory;
      }
    }

    &-img {
      margin-top: 30px;
      margin-bottom: 20px;

      @include desktop {
        margin-top: 50px;
      }
    }
  }

  &__listing-complectations {

    &-wrapper {
      background-color: #f7f7f7;
    }

    &-breadcrumbs {
      margin: 0;
      
      &-wrapper {
        display: none;

        @include desktop {
          @include container;
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }
    }

    &-container {
      @include container;
    }

    &-inner {
      padding-bottom: 100px;
    }

    &-item {
      margin-top: 20px;
    }

    &-btn-wrapper {
      margin-top: 50px;

      & .btn {
        width: 100%;
        height: 64px;
      }
    }

    &-pagination-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }
}

.container {
  @include container;
}