//- Все примеси в этом файле должны начинаться c имени блока (promo)

mixin promo(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +promo('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' promo--' + modsList[i].trim();
      }
    }

  .promo(class=allMods)&attributes(attributes)
    .promo__inner
      .promo__slider.swiper-container
        .promo__slider-wrapper.swiper-wrapper
          .promo__slide.swiper-slide
            picture.promo__slide-bg
              source(media='(min-width: 768px)' srcset='img/promo-slide-desktop.jpg')
              img(src='img/promo-slide.jpg' alt='Промо акции')
            .promo__slide-content
              h2.promo__title Сезон подарков
              .promo__subtitle до 31 декабря
              .promo__text Дарим крутые подарки при покупке игровых ноутбуков Asus ROG
              +btn('Подробнее', 'transparent, sm promo__btn')(href='#')
              .promo__spoiler *Число товаров и подарков по акции ограничено
          .promo__slide.swiper-slide
            picture.promo__slide-bg
              source(media='(min-width: 768px)' srcset='img/promo-slide-desktop.jpg')
              img(src='img/promo-slide.jpg' alt='Промо акции')
            .promo__slide-content
              h2.promo__title Сезон подарков
              .promo__subtitle до 31 декабря
              .promo__text Дарим крутые подарки при покупке игровых ноутбуков Asus ROG
              +btn('Подробнее', 'transparent, sm promo__btn')(href='#')
              .promo__spoiler *Число товаров и подарков по акции ограничено
          .promo__slide.swiper-slide
            picture.promo__slide-bg
              source(media='(min-width: 768px)' srcset='img/promo-slide-desktop.jpg')
              img(src='img/promo-slide.jpg' alt='Промо акции')
            .promo__slide-content
              h2.promo__title Сезон подарков
              .promo__subtitle до 31 декабря
              .promo__text Дарим крутые подарки при покупке игровых ноутбуков Asus ROG
              +btn('Подробнее', 'transparent, sm promo__btn')(href='#')
              .promo__spoiler *Число товаров и подарков по акции ограничено
        .promo__pagination.swiper-pagination
      .promo__images
        img(src='img/slide-images1.jpg' alt='promo')
        img(src='img/slide-images2.jpg' alt='promo')