//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__top-line
      .page-header__top-line-wrapper
        .page-header__top-line-phones
          a(href='tel:74955182175').page-header__top-line-phone 8 495 518 21 75,
          a(href='tel:78001002676').page-header__top-line-phone 8 800 100 26 76
          span.page-header__top-line-phones-arrow
            svg(width="10", height="8")
              use(xlink:href="img/sprite.svg#arrow-down")
          .page-header__top-line-dropdown 
            .page-header__top-line-dropdown-icon-close 
              |Закрыть
              svg(width="10", height="10")
                use(xlink:href="img/sprite.svg#close")
            .page-header__top-line-dropdown-title График работы:
            .page-header__top-line-dropdown-time Пн.-Пт.:
              span с 10-00 до 20-00
            .page-header__top-line-dropdown-time Сб.-Вс.:
              span с 10-00 до 20-00
            .page-header__top-line-dropdown-close До закрытия осталось: 8 часов
            .page-header__top-line-dropdown-info Возможно оформить заказ с доставкой в этот же день!
        .page-header__top-line-links
          a.page-header__top-line-link(href='#') Акции  
          a.page-header__top-line-link(href='#') Оплата и доставка 
          a.page-header__top-line-link(href='#') Сервис
          a.page-header__top-line-link(href='#') Контакты 

    .page-header__wrapper
      +logo('/')(class='page-header__logo')
        img(src='img/logo.svg', alt='Logo')
      .page-header__icons
        a(href='tel:+74955182175').page-header__icon.page-header__icon-tel
          svg(width="21", height="20")
            use(xlink:href="img/sprite.svg#mobile")
        .page-header__search
          +field-text({
            mods: '',
            attrs: {
              name: 'search',
              placeholder: 'Поиск по названию товара'
            }
          })
          a(href='#').page-header__search-icon
            svg(width="20", height="20")
              use(xlink:href="img/sprite.svg#search_icon")
        a(href='#').page-header__icon.page-header__icon-cart
          svg(width="25", height="20")
            use(xlink:href="img/sprite.svg#cart")
      +menu(class='page-header__menu')


mixin page-header-active()
  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__top-line
      .page-header__top-line-wrapper
        .page-header__top-line-phones
          a(href='tel:74955182175').page-header__top-line-phone 8 495 518 21 75,
          a(href='tel:78001002676').page-header__top-line-phone 8 800 100 26 76
          span.page-header__top-line-phones-arrow
            svg(width="10", height="8")
              use(xlink:href="img/sprite.svg#arrow-down")
          .page-header__top-line-dropdown 
            .page-header__top-line-dropdown-icon-close 
              |Закрыть
              svg(width="10", height="10")
                use(xlink:href="img/sprite.svg#close")
            .page-header__top-line-dropdown-title График работы:
            .page-header__top-line-dropdown-time Пн.-Пт.:
              span с 10-00 до 20-00
            .page-header__top-line-dropdown-time Сб.-Вс.:
              span с 10-00 до 20-00
            .page-header__top-line-dropdown-close До закрытия осталось: 8 часов
            .page-header__top-line-dropdown-info Возможно оформить заказ с доставкой в этот же день!
        .page-header__top-line-links
          a.page-header__top-line-link(href='#') Акции  
          a.page-header__top-line-link(href='#') Оплата и доставка 
          a.page-header__top-line-link(href='#') Сервис
          a.page-header__top-line-link(href='#') Контакты 

    .page-header__wrapper
      +logo('/')(class='page-header__logo')
        img(src='img/logo.svg', alt='Logo')
      .page-header__icons
        a(href='tel:+74955182175').page-header__icon.page-header__icon-tel
          svg(width="21", height="20")
            use(xlink:href="img/sprite.svg#mobile")
        .page-header__search
          +field-text({
            mods: '',
            attrs: {
              name: 'search',
              placeholder: 'Поиск по названию товара'
            }
          })
          a(href='#').page-header__search-icon
            svg(width="20", height="20")
              use(xlink:href="img/sprite.svg#search_icon")
        a(href='#').page-header__icon.page-header__icon-cart.page-header__icon-cart--active
          svg(width="25", height="20")
            use(xlink:href="img/sprite.svg#cart")
          span 
      +menu(class='page-header__menu')


