// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: relative;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -7px;
    margin-left: -7px;
    padding-top: 15px;
  }

  &__logo {
    
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
