// В этом файле должны быть стили для БЭМ-блока popular-complect, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.popular-complect {
  background-color: #f7f7f7;

  @include desktop {
    margin-top: 50px;
  }

  &__inner {
    @include container;
    padding-top: 30px;

    @include desktop {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__top-line {

    @include desktop {
      display: flex;
      align-items: flex-start;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: $gray-darken;

    @include desktop {
      margin-bottom: 50px;
      font-size: 30px;
      text-align: left;
    }
  }

  &__mobile {

    @include desktop {
      display: none;
    }

    &-slide {
      display: flex;
      justify-content: center;
    }

    &-controls {
      margin-top: 30px;
    }
  }


  &__desktop {
    display: none;

    @include desktop {
      display: block;

      &-slide {
        display: flex;
        justify-content: space-between;
      }

      &-controls {
        margin-left: auto;
      }
    }
  }
}
