// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border-radius: $border-radius;
  border: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  background-color: $color-main;
  background-image: none;
  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $color-main-light;
    color: $white;
    border: none;
    // border-color: darken($gray-lighter, 12%);
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    
  }

  &--white {
    background-color: $white;
    color: $gray-darkest;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    font-weight: 300;
    color: $text-color;
    background-color: #f2f2f2;
    // border-color: $gray-lighter;

    &:hover {
      color: $text-color;
      background-color: #f2f2f2;
    }

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--transparent {
    font-size: 12px;
    line-height: 24px;
    border: 1px solid $gray-lightest;
    background-color: transparent;
  }

  &--sm {
    min-width: 130px;
  }

  &--dropdown {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 48px;
    min-width: 180px;
    font-weight: 700;
    background-image: url('../img/circle.svg');
    background-repeat: no-repeat;
    background-position: 22px center;
  }

  &--color-secondory {
    background-color: $color-secondory;
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
