//- Все примеси в этом файле должны начинаться c имени блока (filter-btn)

mixin filter-btn(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +filter-btn('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' filter-btn--' + modsList[i].trim();
      }
    }

  button.filter-btn(class=allMods)&attributes(attributes)= text
    span.filter-btn__close
