// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 80px;
  background-color: #fff;

  @include desktop {
    display: block; 
  }

  &__inner {
    border-bottom: 1px solid #e6e6e6;
  }

  &__top-wrapper {
    @include container;
    padding-top: 20px;
    padding-bottom: 20px; 
  }

  &__content-wrapper {
    @include container;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    // &:after {
    //   content: '';
    //   display: none;
    //   flex-grow: 1;
    //   height: 1px;
    //   background-color: $border-color;

    //   @media (min-width: $screen-md) {
    //     display: block;
    //   }
    // }

    .no-js & {
      display: none;
    }
  }

  &__link-wrap {
    position: relative;
    margin: 0 0.3em 0.3em 0;
    // border: 1px solid $border-color;
    color: $text-color-muted;

    @media (min-width: $screen-md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {
      color: $color-secondory;

      &:after {
        content: '';
        position: absolute;
        bottom: -21px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-secondory;
      }

      // #{$block-name}__link {
      //   background-color: #fff;
      // }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 10px 0;
    font-weight: 700;
    color: $gray-darkest;
    text-decoration: none;
    // background-color: $gray-lightest;

    &:hover,
    &:focus {
      color: $color-secondory;
    }

    &-review {
      position: absolute;
      top: 0;
      right: -14px;
      font-size: 12px;
      font-weight: 300;
      color: $gray-dark;
    }
  }

  &__content-wrapper {
    display: block;
    // border: 1px solid $border-color;
    padding: $field-padding-vertical $field-padding-horizontal;

    @media (min-width: $screen-md) {
      border-top: none;
    }
  }

  &__content-item {

    .js & {
      display: none;
    }

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }
}

.tabs-item {

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 18px;
  }

  &__text {
    margin-bottom: 35px;
    font-weight: 300;
    line-height: 24px;

    &-gray {
      color: #7e7e7e;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__banner {
    margin-top: 50px;
    margin-bottom: 50px;  
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;  
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      margin-top: 35px;
      
      &-title {
        display: inline-block;
        vertical-align: middle;
        width: 190px;
        font-weight: 300;
        color: $gray-dark;
      }

      &-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px;  
        width: 255px;
        font-weight: 300;
      }
    }
  }
}
