extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +page-header()
  .page-404
    .page-404__container
      .page-404__title 
        span.page-404__title-color Хьюстон, 
        |у нас проблема!
      .page-404__text данная страница не существует
      +btn('Вернуться на главную', 'blue')(class='page-404__btn')