extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  .page__index-content
    +page-header()
    +promo(class='page__index-content-promo')
    +popular-complect(class='page__index-popular-complect')
    +slider-images(class='page__index-content-slider-images')
    +hits-sale(class='page__index-content-hit-sale')
    +discount-items({title: 'Товары со скидкой'})(class='page__index-content-discount-items')
    +widget-about(class='page__index-content-widget-about')
  

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
