extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +page-header()
  .page__list-content
    .page__list-content-wrapper
      +breadcrumbs(class='page__list-content-breadcrumbs')
        +breadcrumbs-item('Главная', '#')
        +breadcrumbs-item('Каталог товаров', '#')
        +breadcrumbs-item('Компьютеры', '#')
        +breadcrumbs-item('Игровые ноутбуки')
      +widget-sale(class='page__list-content-widget-sale')
      +filter-panel({title: 'Игровые ноутбуки'})
      .page__list-content-row
        +filter-aside()
        .page__list-table-row
          .page__list-table-item
            +card-hit('img/hit1.png', 'Наушники игровые Asus ROG Strix Big Bass', '3', '18 850', '14 999 ₽', '-18%')
          .page__list-table-item
            +card-hit('img/hit2.png', 'Видеокарта MSI GeForce RTX 2080 Ti VENTUS', '5', '95 999', '80 999 ₽', '-28%')
          .page__list-table-item
            +card-hit('img/hit3.png', 'Ультрабук 14’’ HP Pavilion 14-ce0068ur красный', '4', '48 860', '34 999 ₽', '-15%')
          .page__list-table-item
            +card-hit('img/hit4.png', 'Мышь проводная A4Tech Bloody Winner T6/T60 черный', '4', '1 899', '1 599 ₽', '-11%')
          .page__list-table-item
            +card-hit('img/hit5.png', 'Блок питания Thermaltake ToughPower 1200W', '4', '17 860', '16 999 ₽', '-33%')
          .page__list-table-item
            +card-hit('img/hit6.png', 'Кулер для процессора Noctua NH-U12S DX-3647', '3', '10 200', '8 399  ₽', '-42%')
          .page__list-table-item
            +card-hit('img/hit7.png', 'Игровой монитор 49’’ Samsung QLED C49HG90DMIg', '4', '67 580', '58 499 ₽', '-15%', 'Подарок: портативный SSD Thunderbolt™3 X5 500ГБ')
          .page__list-table-item
            +card-hit('img/hit2.png', 'Видеокарта MSI GeForce RTX 2080 Ti VENTUS', '5', '95 999', '80 999 ₽', '-28%')
          .page__list-table-item
            +card-hit('img/hit3.png', 'Ультрабук 14’’ HP Pavilion 14-ce0068ur красный', '4', '48 860', '34 999 ₽', '-15%')
          .page__list-table-item
            +card-hit('img/hit4.png', 'Мышь проводная A4Tech Bloody Winner T6/T60 черный', '4', '1 899', '1 599 ₽', '-11%')
          .page__list-table-item
            +card-hit('img/hit5.png', 'Блок питания Thermaltake ToughPower 1200W', '4', '17 860', '16 999 ₽', '-33%')
          .page__list-table-item
            +card-hit('img/hit6.png', 'Кулер для процессора Noctua NH-U12S DX-3647', '3', '10 200', '8 399  ₽', '-42%')
      .page__list-content-btn-wrapper
        +btn('Показать еще 12', 'white')(class='page__list-content-btn')
      .page__list-content-pagination-wrapper
        +pagination(class='page__list-content-pagination')
          +pagination-item('1', '/1')
          +pagination-item('...')
          +pagination-item('4', '/4')
          +pagination-item('5', '/5', true)
          +pagination-item('6', '/6')
          +pagination-item('...')
          +pagination-item('36', '/36')
      .page__list-content-text
        .page__list-content-text-wrapper
          h4 Игровые ноутбуки 
          p Игровые ноутбуки Это основа функционирования компьютера, от технических характеристик которой будет зависеть производительность и скорость выполнения задач. Чтобы не усложнять процесс покупки изучением тонкостей и особенностей компьютерной «начинки», производители предлагают готовые конфигурации. 

          p Если вы точно определились, для каких целей собираетесь использовать девайс, сделать выбор будет гораздо проще. Настольные комьютеры делятся на три типа: базовые, игровые и мультимедийные. Первые подойдут для повседневной работы в офисных приложениях, учебы, просмотра и обработки изображений и видео, а также интернет-серфинга. Вторая группа моделей разрабатывается специально для геймеров, обладает высокой мощностью и справляется с «тяжелыми» играми и сложными спецэффектами. Мультимедийный тип предусматривает воспроизведение видео в лучшем качестве.

  

//- block footer
//-   p footer

block append page-bottom
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js")
