extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  +page-header()
  .page__info-wrapper
    .page__info-breadcrumbs-wrapper
      +breadcrumbs(class='page__comparison-breadcrumbs')
        +breadcrumbs-item('Главная', '#')
        +breadcrumbs-item('Каталог товаров', '#')
    .page__info-container
      .page__info-inner
        .page__info-section
          h1.page__info-title Доставка
          p.page__info-text-bold Заказы по телефону принимаются Пн.-Пт. с 10:00 до 20:00, Сб.-Вс. с 10:00до 19:00. Заказы сделанные через сайт (в праздники и ночное время) принимаются круглосуточно и будутобработаны в ближайшее рабочее время.
          .page__info-title-color Оперативная доставка в день заказа!
          ul.page__info-list
            li.page__info-item При заказе до 15:00, можем доставить в этот же день.
            li.page__info-item При заказе после 15:00, доставка осуществляется на следующий день, или влюбой удобный для вас день.
          p.page__info-text Время и число доставки вы указываете при оформлении заказа в разделе"Дополнительная информация "комментарии к заказу", или по телефону <b>+7(495) 518-21-75.</b>

        .page__info-section
          svg(width="55", height="48")
            use(xlink:href="img/sprite.svg#delivery_kurier")
          .page__info-section-title Доставка курьером:
          .page__info-text После оформления вами заказа через сайт, в ближайшее время с вами связывается менеджер и уточнят желаемую дату и время доставки. Служба доставка предупреждает вас о выезде нашего курьера по указанному адресу.
          ul.page__info-list
            li.page__info-item Доставка системного блока по Москве в пределах МКАД — бесплатно.
            li.page__info-item Доставка системного блока 0 - 10 км от МКАД — 400 руб.
            li.page__info-item Доставка системного блока 10 - 20 км от МКАД — 600 руб.
            li.page__info-item Доставка системного блока более 20 км от МКАД обговаривается отдельно.
            li.page__info-item Доставка компьютерной периферии — 300 руб. 
          .page__info-text-color Наша курьерская служба работает каждый день с 10- 00 до 22-00.

        .page__info-section
          svg(width="50", height="48")
            use(xlink:href="img/sprite.svg#delivery_samovivoz")
          .page__info-section-title Самовывоз:
          .page__info-text Если вы хотите забрать заказ самостоятельно то вам необходимо поставить в резерв интересующий вас товар через сайт (для подтверждения в ближайшее рабочее время с вами свяжется менеджер)или по телефону +7(495) 518-51-75. Менеджер уточнит дату и время когда вы хотели подъехать в наш магазин.
          .page__info-text Наш магазин расположен по адресу: 127018, г. Москва, ул. Сущевский вал, д.5, стр. 20, Павильон L-4, ТД Савеловский. 
            a(href='#').page__info-link Схема проезда.

        .page__info-section
          <svg width="64", height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 79 50"><defs><style>.cls-1{fill:#5d4fc4;}.cls-2{fill:#ff6900;}</style></defs><title>delivery</title><path class="cls-1" d="M73.47,21.2l-2-8.19a1.24,1.24,0,0,0,1-1.21V10.48a5.2,5.2,0,0,0-5.2-5.2H57.89V2.56A2.56,2.56,0,0,0,55.33,0H7.83A2.56,2.56,0,0,0,5.28,2.56V25a1.24,1.24,0,1,0,2.47,0V2.56a.08.08,0,0,1,.08-.08h47.5a.08.08,0,0,1,.08.08V25a1.24,1.24,0,1,0,2.47,0V23.6h14.6a4,4,0,0,1,3.84,2.81H72.49a1.24,1.24,0,0,0-1.24,1.24v2.64a3.88,3.88,0,0,0,3.88,3.88h1.4V39.6H73.29a7.83,7.83,0,0,0-14.81,0h-.6V24.11a1.24,1.24,0,1,0-2.47,0V39.6H29.75a7.83,7.83,0,0,0-14.81,0H7.83a.08.08,0,0,1-.08-.08V36.8h5.36a1.24,1.24,0,0,0,0-2.48H1.24a1.24,1.24,0,0,0,0,2.48h4v2.72a2.56,2.56,0,0,0,2.56,2.56h6.68s0,.05,0,.08a7.83,7.83,0,1,0,15.67,0s0-.05,0-.08H58.06s0,.05,0,.08a7.83,7.83,0,1,0,15.67,0s0-.05,0-.08h4A1.24,1.24,0,0,0,79,40.84V27.64A6.53,6.53,0,0,0,73.47,21.2ZM57.89,7.76h9.32a2.73,2.73,0,0,1,2.72,2.72v.08h-12Zm0,13.37V13h11l2,8.09h-13ZM22.35,47.53a5.36,5.36,0,1,1,5.36-5.36A5.37,5.37,0,0,1,22.35,47.53Zm43.54,0a5.36,5.36,0,1,1,5.36-5.36A5.37,5.37,0,0,1,65.89,47.53ZM76.53,31.68h-1.4a1.4,1.4,0,0,1-1.4-1.4v-1.4h2.8v2.81Z"/><path class="cls-1" d="M22.35,39.6a2.56,2.56,0,1,0,2.56,2.56A2.56,2.56,0,0,0,22.35,39.6Z"/><path class="cls-1" d="M65.89,39.6a2.56,2.56,0,1,0,2.56,2.56A2.56,2.56,0,0,0,65.89,39.6Z"/><path class="cls-1" d="M51.37,34.32H32.9a1.24,1.24,0,0,0,0,2.48H51.37a1.24,1.24,0,0,0,0-2.48Z"/><path class="cls-1" d="M19.71,29H3.88a1.24,1.24,0,0,0,0,2.48H19.71a1.24,1.24,0,0,0,0-2.48Z"/><path class="cls-2" d="M31.58,6.6A11.8,11.8,0,1,0,43.38,18.4,11.81,11.81,0,0,0,31.58,6.6Zm0,21.12A9.32,9.32,0,1,1,40.9,18.4,9.33,9.33,0,0,1,31.58,27.72Z"/><path class="cls-2" d="M36.42,21.48l-3.6-3.6V13.12a1.24,1.24,0,1,0-2.47,0V18.4a1.24,1.24,0,0,0,.36.88l4,4a1.24,1.24,0,0,0,1.75-1.75Z"/></svg>
          .page__info-section-title Доставка по России (от 1 до 7 дней) и осуществляется только при 100% предоплаты товара.
          .page__info-text Если вы хотите забрать заказ самостоятельно то вам необходимо поставить в резерв интересующий вас товар через сайт (для подтверждения в ближайшее рабочее время с вами свяжется менеджер)или по телефону +7(495) 518-51-75. Менеджер уточнит дату и время когда вы хотели подъехать в наш магазин.
          .page__info-text Наш магазин расположен по адресу: 127018, г. Москва, ул. Сущевский вал, д.5, стр. 20, Павильон L-4, ТД Савеловский. 
            a(href='#').page__info-link Схема проезда.
          .page__info-img
            img(src='img/pony.png' alt='pony express')
          .page__info-text <b>Транспортной компанией Pony Express</b> cроки и стоимость доставки 
            a(href='#').page__info-link-sm здесь
          ul.page__info-list
            li.page__info-item После отправки вам высылается трек-номер по которому вы самостоятельно сможете проследить статус вашей посылки.
            li.page__info-item Данная компания доставляет посылки в самые короткие сроки.
            li.page__info-item Доставка до двери офиса или квартиры.
            li.page__info-item Невысокая стоимость доставки.
            li.page__info-item Качество обслуживания.
            li.page__info-item Можете самостоятельно забрать посылку из ближайшего пункта выдачи.
          .page__info-img
            img(src='img/ems.png' alt='ems')
          .page__info-text <b>Транспортной компанией EMS</b> cроки и стоимость доставки 
            a(href='#').page__info-link-sm здесь
          ul.page__info-list
            li.page__info-item После отправки вам высылается трек-номер по которому вы самостоятельно сможете проследить статус вашей посылки.
            li.page__info-item Данная компания доставляет посылки в самые короткие сроки.
            li.page__info-item Доставка до двери офиса или квартиры.
            li.page__info-item Невысокая стоимость доставки.
            li.page__info-item Качество обслуживания.
            li.page__info-item Можете самостоятельно забрать посылку из ближайшего пункта выдачи.
          .page__info-img
            img(src='img/baikal.png' alt='baikal')
          .page__info-text <b>Транспортной компанией Байкал Сервис</b> cроки и стоимость доставки 
            a(href='#').page__info-link-sm здесь
          ul.page__info-list
            li.page__info-item После отправки вам высылается трек-номер по которому вы самостоятельно сможете проследить статус вашей посылки.
            li.page__info-item Данная компания доставляет посылки в самые короткие сроки.
            li.page__info-item Доставка до двери офиса или квартиры.
            li.page__info-item Невысокая стоимость доставки.
            li.page__info-item Качество обслуживания.
            li.page__info-item Можете самостоятельно забрать посылку из ближайшего пункта выдачи.
        .page__info-section
          svg(width="48", height="48")
            use(xlink:href="img/sprite.svg#poluchenie_tovara")
          .page__info-section-title Получение товара:
          .page__info-text При получении товара, обязательно проверьте комплектность, отсутствие видимых механических повреждений, наличие сопроводительных документов (гарантийный талон, кассовый чек). Убедительная просьба не включать электронные приборы (системный блок, монитор, принтер и т. д.) в ближайший час (все товары проверяются и тестируются). Если вы обнаружите не совпадения в комплектации или у вас возникнут неполадки, в течении 2-х недель вам произведут доставку аналогичного товара, бесплатно. При самовывозе весь товар проверяется на работоспособность.