.field-file {

  &__input {
    color: transparent;

    &:before {
      content: 'Реквизиты';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 30px;
      background-color: #e6e6e6;
      border-radius: 4px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      font-size: 12px;
      font-weight: 300;
      color: $gray-darkest;
    }
  }
}

.field-file__input::-webkit-file-upload-button {
  visibility: hidden;
}