// В этом файле должны быть стили для БЭМ-блока card-product-popular, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card-product-popular {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 280px;
  min-height: 420px;
  background-color: $white;
  text-decoration: none;  
  color: $gray-darker;

  &--long {
    padding: 20px 20px;
    width: 580px;
    min-height: auto;

    & .card-product-popular__inner {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &--small {
    padding: 0;
    min-height: auto;

    & .card-product-popular__img {
      height: auto;
    }

    & .card-product-popular__title {
      margin-top: 10px; 
    }

    & .card-product-popular__price-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    & .card-product-popular__sale {
      order: 2;
      margin-top: 0;
      margin-left: 10px;
    }

    & .card-product-popular__price {
      margin-top: 0;
    }
  }

  &--big {
    width: 430px;
  }

  &--icon-hidden {
    & .card-product-popular__plus {
      display: none;
    }
  }

  &--icon-top-right {
    & .card-product-popular__plus {
      top: -10px;
      right: -26px;
    }
  }

  &:hover {
    color: inherit;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 160px;
  }

  &__title {
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    line-height: 24px;
  }

  &__sale {
    margin-top: 25px;
    font-weight: 300;
    text-decoration: line-through;
    color: #afb1b3;
  }

  &__price {
    margin-top: 14px;
    font-size: 24px;
    font-weight: 700;
  }

  &__plus {
    position: absolute;
    top: 50%;
    right: -28px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: $color-secondory;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transform: translateY(-50%);
    cursor: initial;

    // & svg {
    //  position: absolute;
    //  top: 12px;
    //  left: 12px;
    // }
  }

  // &__arrow {
  //   position: absolute;
  //   top: 50%;
  //   right: -27px;
  //   z-index: 5;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 36px;
  //   height: 36px;
  //   border-radius: 50%;
  //   border: 2px solid #ffffff;
  //   background-color: $color-main;
  //   transform: translateY(-50%);
  //   cursor: initial;

  //   & svg {
  //     position: absolute;
  //     top: 12px;
  //     left: 11px;
  //     fill: $white;
  //     transform: rotate(-90deg);
  //   }
  // }
}
