// В этом файле должны быть стили для БЭМ-блока filter-aside, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all .5s;

  @include desktop {
    position: relative;
    transform: translateX(0);
  }

  &__inner {
    margin: 0 auto;
  }

  &__top-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &__close {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__item {
    position: relative; 
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;

    & svg {
      position: absolute;
      top: 28px;
      right: 20px;
      fill: $gray-dark;
      transform: rotate(180deg);
    }

    &--active {
      padding-bottom: 25px;
      & svg {
        transform: rotate(0);
      }
    }
  }

  &__subblock {
    margin-top: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);

    &--active {
      overflow: inherit;
      max-height: 99em;
      transition: max-height .5s ease-in-out;
    }

    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5px;

      & .field-text {
        margin: 0;
        width: 135px;
        outline: none;
      }
    }

    &-link {
      font-weight: 300;
      line-height: 48px;
      text-decoration: none;
      color: #b3b3b3;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 20px;
  }

  &__btn {
    width: 135px;
    height: 48px;
    font-size: 14px;

    &-clear {
      color: #999999;
    }
  }
}
