// В этом файле должны быть стили для БЭМ-блока map, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.map {
  margin-top: 30px;
  width: 100%;
  height: 280px;

  @include desktop {
    margin-top: 0;
    height: 448px;
  }
}
