// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  display: block;
  // margin-bottom: $typo-margin-vertical;

  &__title {
    @include field-name;
  }

  &__input-wrap {

    & + & {
      margin-top: 20px;
    }

    &--error {

      #{$block-name}__name-text,
      #{$block-name}__help-text {
        color: $color-danger;
      }
    }
  }

  &__name {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    // margin-right: 0.6em;
    font-weight: 400;
    line-height: 20px;
  }

  &__name-text {
    display: inline-block;

    // свой чекбокс с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 5px;
    //   left: 0;
    //   width: 18px;
    //   height: 18px;
    //   border-radius: 4px;
    //   background-color: #fff;
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox--checked.svg');
    // }

    // / свой чекбокс с картинкой

    // свой чекбокс без картинок

    @at-root input:disabled ~ & {
      cursor: not-allowed;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #e6e6e6;
      border-radius: $border-radius;
    }

    @at-root input:focus ~ &:before {
      // @include field-focus;
      background-color: $color-main;
      border: none;
    }

    @at-root input:disabled ~ &:before {
      border-color: $gray-light;
      background: $gray-lighter;
    }

    &:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 5px;
      width: 8px;
      height: 6px;
      background-image: url('../img/check.png');
      background-repeat: no-repeat;

      @at-root input:checked ~ & {
        opacity: 1;
      }

      @at-root input:checked:disabled ~ & {
        border-color: $gray-light;
      }
    }

    // / свой чекбокс без картинок
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
