//- Все примеси в этом файле должны начинаться c имени блока (comparison)

mixin comparison(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +comparison('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' comparison--' + modsList[i].trim();
      }
    }

  button.comparison(class=allMods)&attributes(attributes)
    <svg width="17", height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 20"><path class="cls-1" d="M1,0A1,1,0,0,0,0,1V19a1,1,0,0,0,2,0V1A1,1,0,0,0,1,0ZM6,5A1,1,0,0,0,5,6V19a1,1,0,0,0,2,0V6A1,1,0,0,0,6,5Zm5-5a1,1,0,0,0-1,1V19a1,1,0,0,0,2,0V1A1,1,0,0,0,11,0Zm5,5a1,1,0,0,0-1,1V19a1,1,0,0,0,2,0V6A1,1,0,0,0,16,5Z"/></svg>
    if(text != undefined && text != '')
      span= text
